* {
    margin: 0px;
    padding: 0px;

    /* border: none;
    box-sizing: border-box; */
}

body {
    background-color: black;
    font-family: 'Inter';
}

a {
    text-decoration: none;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}

.wrapper {

    width: 1280px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    /* border: #53ab6c solid 1px; */

}

.header {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 57px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 0px;

    /* border: 1px white solid; */


}

.logo {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid blue; */

}

.menu>h4 {
    margin: 0px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #6FB282;
    opacity: 0.8;
}

.menu>h4:hover {
    opacity: 1;
    cursor: pointer;
    transition: 200ms;

}

.menu>h4:active {
    color: #68d787;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    /* border: 1px yellow solid; */

}

.slogan__big {
    width: 969px;
}

.slogan__big>p {

    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 92%;
    /* or 88px */

    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.slogan__small {
    width: 705px;
}

.slogan__small>p {

    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: #CCCCCC;
    opacity: 0.8;
    margin-top: 15px;
}



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 192px;

    /* border: 1px orangered dotted; */

}

.footer__text {
    display: flex;
    flex-direction: column;
}

.footer__text>h5 {

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 104%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer__text>h6 {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 104%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #CCCCCC;
    opacity: 0.64;
    margin-top: 3px;

}

.footer__img {
    margin-top: 47px;
    margin-bottom: 182px;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px red solid; */

}

.subscription__text_top {

    margin-top: 158px;
    display: block;
    text-align: center;

}


.subscription__text_bottom {

    display: block;
    text-align: center;
    margin-top: 16px;

}

.subscription__text_bottom>p {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 104%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #CCCCCC;

}

h3 {

    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 104%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.subscription__form {

    display: flex;
    flex-direction: row;
    margin-top: 64px;

}

.subscription__form>button {

    width: 184px;
    height: 48px;
    background: #6FB282;
    border-radius: 10px;
    margin-left: 4px;


    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;

}

.subscription__form>button:hover {

    background: #254c30;
    transition: 200ms;
    cursor: pointer;

}

.subscription__form>button:active {

    background: #53ab6c;
    transition: 200ms;
    cursor: pointer;

}

.subscription__form>input {

    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-right: 4px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 104%;
    color: #A6A6A6;
    padding-left: 16px;
    text-decoration: none;

}

.hiring {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 164px;

}

.hiring__text {
    text-align: center;
}

.hiring__announce {

    width: 758px;
    height: 251px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    overflow: hidden;

}

.hiring__announce_left {

    width: 476px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}


.hiring__announce_left>p {

    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 104%;
    letter-spacing: -0.02em;
    color: #000000;

}

.hiring__announce_left>h4 {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 104%;
    color: #A6A6A6;
}

.hiring__links {

    display: flex;
    flex-direction: column;
}

.hiring__links>a {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 104%;
    color: #176AE5;
    margin: 4px 0px;
}


.hiring__links>div {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 104%;
    color: #176AE5;

    border: 2px red solid;

}

.hiring__announce_right {

    background: #F5E4FF;
    width: 282px;
    padding: 16px;
    align-items: flex-end;
    display: flex;
}

.hiring__announce_right>p {


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 104%;
    color: #737373;
    width: 250px;
}

.benefits {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 127px;

}


.benefits__text {

    width: 869px;
}

.benefits__text>p {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 104%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.benefits__block {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
}

.benefits__block_item {

    width: 304px;
    height: 205px;
    left: 812px;
    top: 252px;
    background: #F4F4F4;
    border-radius: 12px;
    margin: 12px;
    padding: 16px;

    display: flex;
    flex-direction: column;
}

.benefits__block_item>p {

    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 104%;
    letter-spacing: -0.02em;
    color: #000000;

}

.benefits__block_item>h4 {

    width: 272px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 104%;   
    color: #555555;
    padding-top: 8px;
}